body {
    margin: 0;
    background-color: #0E0E0E;
    font-family: Verdana;
    color: whitesmoke;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #202020;
}

#footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    position: relative;
    display: block;
    margin-top: 40px;
    float: inline-end;
    width: 100%;
    background-color: #383838;
    padding: 10px;
}

#footer span {
    margin-left: 40px;
}

#footer span.year {
    float: right;
    margin-right: 35px;
}


#logo {
    position: relative;
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    padding: 30px;
}

#navbar {
    position: relative;
    display: flex;
    float: right;
    margin-right: 40px;
    margin-top: 9px;
}

.button {
    margin: 30px 40px 30px 40px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
}

.button:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

