body {
    margin: 0;
    background-color: #0E0E0E;
    font-family: Verdana;
    color: whitesmoke;
}

.wrapper {
	display: block;
	height: 1150px;

}

.header {
    height: 100px;
    width: 100%;
    background-color: #202020;
}

#footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    position: relative;
    display: block;
    margin-top: 40px;
    width: 100%;
    background-color: #383838;
    padding-top: 10px;
	padding-bottom: 10px;
}

#footer span {
    margin-left: 40px;
}

#footer span.year {
    float: right;
    margin-right: 35px;
}


#logo {
    position: relative;
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    padding: 30px;
}

#navbar {
    position: relative;
    display: flex;
    float: right;
    margin-right: 40px;
    margin-top: 9px;
}

.button {
    margin: 30px 40px 30px 40px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
}

.button:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

#content {
    position: relative;
    float: left;
    height: 850px;
    width: 700px;
    background-color: #111111;
    margin-left: 250px;
    text-align: center;
    margin-top: 100px;
}

#content h1 {
    font-weight: lighter;
    font-size: 25px;
    margin-top: 30px;
}

#content hr {
    width: 600px;
}

.block__content {
    height: 300px;
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #161616;
    text-align: center;
    font-size: 80px;
    font-style: italic;
}

.block__content > span {
    position: relative;
    padding-top: 80px;
    display: block;
}

#news {
    display: block;
    position: relative;
    height: 1000px;
    width: 500px;
    background-color: #161616;
    float: right;
    margin-right: 150px;
    text-align: center;
    margin-top: 40px;
}

#news h1 {
    border-style: solid;
    border-width: 2px 0px 2px 0px;
}

.new {
    display: block;
    position: relative;
    height: 400px;
    width: 400px;
    background-color: coral;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.new span {
    display: block;
    position: relative;
    font-size: 60px;
    padding-top: 150px;
    font-weight: bold;
}